<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aaptrix">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="${appIconRound}"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:icon, android:theme">
        <activity android:name=".activitys.student.SubjectiveExamResult"></activity>
        <activity android:name=".activitys.student.SubjectiveQuesPaper" />
        <activity android:name=".activitys.student.StartSubjective" />
        <activity android:name=".activitys.guest.GuestAnswerSheet" />
        <activity android:name=".activitys.guest.GuestExamReport" />
        <activity android:name=".activitys.guest.GenerateLead" />
        <activity android:name=".activitys.guest.StartGuestExam" />
        <activity android:name=".activitys.guest.GuestExam" />
        <activity android:name=".activitys.guest.GuestMaterial" />
        <activity android:name=".activitys.guest.GuestVideo" />
        <activity
            android:name=".activitys.student.PlayLiveStream"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activitys.admin.AddLiveStream"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.LiveStreaming"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.GetHelp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.TroubleLoggingIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.student.PaymentSuccess"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.student.UpiPayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.UserSelfRegistration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.student.FeePayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.CoursesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.InactiveInstitute"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.admin.EnquiryDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.admin.Enquiries"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.admin.UpdateClassTimeTable"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <service android:name="com.uxcam.service.HttpPostService" />

        <activity
            android:name=".activitys.AddUserForm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.admin.AddExamTimeTable"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.student.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.student.StaffDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.student.StaffActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.teacher.StudentAttenInter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.ReferralActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.student.SubjectwiseReport"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.UserProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activitys.AppInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.FullScrView"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.teacher.StudentPerformance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.StudentResult"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.ViewReports"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AdminStaffLeaveIntermediate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AdminStaffLeave"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AdminLeaveRequest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.teacher.StaffLeaveApplication"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.teacher.StaffLeaveList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.teacher.StaffMyAttendance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AdminContacts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.TeacherAttendance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.teacher.StaffAttendance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AddNewVideo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.VideoDetails"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.StudyMaterialDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AddNewMaterial"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.StudyMaterial"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AddNewGallery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.GalleryDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.GalleryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AddNewHomework"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AddNewDiary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AddNewEvent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AddNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.admin.AddNewPublication"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activitys.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <receiver android:name=".notifications.NotificationPublisher" />

        <service
            android:name=".notifications.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activitys.TermsConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SelectRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.InstituteBuzzActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MobileNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.OtpScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.AchievmentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.UpdatePhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.UpdateNumberOtpScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ChangePasswordInitialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.admin.InstituteBuzzActivityDiff"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.teacher.SchoolCalenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.ActivitiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.PublicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.teacher.StudentAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.teacher.TeacherAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.teacher.StudentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.StudentTimeTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.DairyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.HomeworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.teacher.TeacherDairyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.teacher.TeacherHomeWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.admin.IntermidiateScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.admin.AdminTimeTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.admin.IntermidiateScreenActivityPublication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.admin.ResultIntermidiateScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.admin.AddResultForStudentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.AllUsersChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.Chatctivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activitys.student.LeaveApplicationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.teacher.LeaveListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.teacher.TeacherRequestLeaveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.FullScreenImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.VideoLibrary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.AppLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.student.OnlineExam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.OnlineExamResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.OnlineReport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.StartOnlineExam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.student.StartExam"
            android:screenOrientation="portrait" />
    </application>

</manifest>